<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <p>{{ConferenceE}}</p>
    <ol>
        {{# each eastTeam }}
            <li>
                <p>{{ this.name }} </p>
                <p>Wins: {{ this.win }} Losses: {{ this.loss }}</p>
            </li>                
        {{/each}}
    </ol>

    <p>{{ConferenceW}}</p>

    <ol>
        {{# each westTeam }}
            <li>
                <p>{{ this.name }} </p>
                <p>Wins: {{ this.win }} Losses: {{ this.loss }}</p>
            </li>
                
        {{/each}}
    </ol>


        

</body>
</html>